.backdrop {
	background: url(https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	filter: blur(6px) saturate(75%) brightness(40%);
	position: fixed;
	z-index: -1;
}

.backdrop:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(
		to bottom,
		rgb(var(--accent-raw), 0.7),
		rgb(0, 0, 0, 0.6)
	);
	opacity: 0.6;
}
