body {
	background: linear-gradient(230deg, rgb(75, 207, 147), rgb(75, 121, 207), rgb(162, 75, 207)) 0% 0% / 300% 300%;
	padding: 20px;
	margin: 0px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 3px;
	font-size: 35px;
}

#centre {
	text-align: center;
}

a:link,
a:active,
a:hover,
a:visited {
	color: #fff;
	text-decoration: none;
	font-style: italic;
	font-size: 20px;
}

#tbc {
	opacity: 0.4;
	text-decoration: line-through;
}

.anaglyph {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		border: none;
		text-align: center;
		-o-text-overflow: clip;
		text-overflow: clip;
		letter-spacing: 3px;
		text-shadow: -3px 0 1px rgb(30, 242, 241), 3px 0 1px rgb(246, 5, 10);
	}