.button {
	font-weight: 500;
	padding: 8px 10px;
	font-size: 1rem;
	cursor: pointer;
	border: none;
	border-radius: 6px;
	background: var(--accent);
	margin: 5px;
	color: white;
	transition: filter 0.3s;
}

.button:focus {
	outline: none;
}

.button:hover {
	filter: brightness(80%);
}

.button:active {
	filter: brightness(70%);
}

.secondary {
	border: none;
	background: none;
	color: var(--accent);
}

.secondary:hover {
	background: hsla(0, 0, 0, 0.1);
}

.secondary:active {
	background: hsla(0, 0, 0, 0.3);
}
