.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 20px;
	height: 70%;
}

.header .title {
	font-size: 4em;
	font-weight: 800;
	margin: 0 0 20px 0;
}

.header .subtitle {
	font-weight: 700;
	font-size: 1.4em;
	color: var(--foreground-text-less);
}

.textContent {
	padding: 0 10px;
}

.links {
	text-align: right;
	padding: 10px;
}

.link {
	padding: 5px;
}

.link a {
	font-size: 2em;
	text-decoration: none;
	color: var(--accent);
}
