.card {
	color: var(--dark-foreground-text);
	background: white;
	box-shadow: 0 5px 10px 0px #aaa;
	cursor: pointer;
	position: relative;
}

.accent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	background: linear-gradient(90deg, hsl(300, 85%, 61%), hsl(224, 91%, 57%));
	height: 5px;
	opacity: 0.7;
}

.title {
	font-size: 2em;
	line-height: 1.4em;
	font-weight: 700;
	margin: 0;
}

.buttons {
	float: right;
}

.titleFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.tags {
	margin: 0;
	line-height: 1.6em;
}

.tag {
	font-size: 0.8em;
	color: var(--dark-foreground-text-least);
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.tag::after {
	content: " ";
}

.desc {
	font-size: 1em;
	line-height: 1.5;
	color: var(--dark-foreground-text-less);
	margin: 6px 0;
}
