.card {
	color: var(--accent);
	background: rgb(var(--accent-raw), 0.1);
	cursor: pointer;
}

.title {
	font-size: 1.6em;
	line-height: 1.6em;
	font-weight: 700;
	margin: 0;
}

.buttons {
	float: right;
}

.titleFlex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.tags {
	margin: 0;
	line-height: 1.6em;
}

.tag {
	font-size: 0.8em;
	color: var(--foreground-text-least);
	text-transform: uppercase;
	letter-spacing: .2em;
}

.tag::after {
	content: " ";
}

.desc {
	font-size: 1em;
	line-height: 1.5;
	color: var(--foreground-text-less);
	margin: 6px 0;
}
