@use "../src/css/constants.scss" as const;

.project {
	overflow: hidden;
	composes: border-radius from "../src/css/shared.module.scss", box-shadow from "../src/css/shared.module.scss";
	// border: 1px dotted red;
	border-top: 5px solid const.$accent;
	padding: 20px;
	margin: 20px;
}

.title {
	font-size: 1.2em;
	font-weight: 700;
	margin: 6px 0;
}

.buttons {
	float: right;
}

.tag {
	font-size: 0.8em;
	color: const.$foreground_text_least;
}

.tag::after {
	content: " ";
}

.desc {
	font-size: 1em;
	color: const.$foreground_text_less;
	margin: 6px 0;
}

@media (prefers-color-scheme: dark) {
	.project {
		box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
	}
	.tag {
		color: const.$foreground_text_least_dark;
	}
	.desc {
		color: const.$foreground_text_less_dark;
	}
}
