.title {
	font-size: 1.2em;
	font-weight: 700;
	margin: 6px 0;
}

.buttons {
	float: right;
}

.tag {
	font-size: 0.8em;
	color: var(--foreground-text-least);
}

.tag::after {
	content: " ";
}

.desc {
	font-size: 1em;
	color: var(--foreground-text-less);
	margin: 6px 0;
}
