.backdrop {
	background: url(https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
	filter: blur(6px) saturate(75%) brightness(40%);
	position: fixed;
	z-index: -1;
}

.backdrop:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(
		to bottom,
		rgb(var(--accent-raw), 0.7),
		rgb(0, 0, 0, 0.6)
	);
	opacity: 0.6;
}

.container {
	position: relative;
	z-index: 2;
	max-width: 800px;
	margin: 0 auto;
	height: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .title {
	/* text-transform: uppercase; */
	/* color: var(--accent); */
	font-size: 4.5em;
	font-weight: 800;
	margin: 0 0 20px 0;
}

.container .subtitle {
	line-height: 1.3;
	font-weight: 700;
	font-size: 1.4em;
	color: var(--foreground-text);
}

.textContent {
	padding: 0 10px;
}

.links {
	text-align: right;
	padding: 10px;
}

.link {
	padding: 5px;
}

.link a {
	font-size: 2em;
	text-decoration: none;
	color: var(--accent);
}

.titleLink {
	color: var(--accent);
	text-decoration: none;
}

.settings {
	font-size: 2em;
	top: 1em;
	right: 15px;
	position: absolute;
	cursor: pointer;
	color: var(--foreground-text-less);
}
