/*
	This file is for program-wide constants such as color and accenting
*/

$foreground_text: rgb(10, 10, 10);
$foreground_text_less: lighten($foreground_text, 10%);
$foreground_text_least: lighten($foreground_text, 40%);
$background: rgb(250, 250, 250);
$accent: rgb(237, 69, 240);

$foreground_text_dark: rgb(250, 250, 250);
$foreground_text_less_dark: darken($foreground_text_dark, 10%);
$foreground_text_least_dark: darken($foreground_text_dark, 40%);
$background_dark: rgb(20, 20, 20);
