@import url("https://rsms.me/inter/inter.css");
:root {
	font-weight: 400;
}

html {
	font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}
