@import url("https://rsms.me/inter/inter.css");
:root {
	font-weight: 400;
	--foreground-text: rgb(255, 255, 255);
	--foreground-text-less: rgb(200, 200, 200);
	--foreground-text-least: rgb(110, 110, 120);
	--background: rgb(30, 30, 30);
	--accent-raw: 255, 122, 122;
	--accent: rgb(var(--accent-raw));

	color: var(--foreground-text);
	background: var(--background);
}

html {
	font-family: "Inter", sans-serif;
}

html,
body {
	overflow: auto;
	overflow-x: hidden;
	position: relative;
}

html,
body,
#__next {
	height: 100%;
	width: 100%;
	/* overflow: auto; */
}

h1 {
	font-weight: 800;
	font-size: 3em;
}

h2 {
	font-size: 1.6em;
	font-weight: 700;
	color: var(--foreground-text-least);
}

#__next {
	min-width: 320px;
	/* max-width: 820px; */
	margin: 0 auto;
	/* padding: 10px; */
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

/*  @media (prefers-color-scheme: dark) {
 	:root {
 		--foreground-text: rgb(250, 250, 250);
 		--foreground-text-less: rgb(220, 220, 220);
 		--foreground-text-least: rgb(170, 170, 170);
 		--background: rgb(20, 20, 20);
	 }
 	html,
 	body {
 		background-color: rgb(119, 0, 255);
 		background-image: linear-gradient(
 			0deg,
 			var(--background),
 			rgba(10, 10, 10, 0.8)
 		);
 	}
 } */
