@import url("https://rsms.me/inter/inter.css");
:root {
	font-weight: 400;
	--foreground-text: rgb(10, 10, 10);
	--foreground-text-less: rgb(40, 40, 40);
	--foreground-text-least: rgb(100, 100, 100);
	--background: rgb(250, 250, 250);
	--accent: rgb(236, 53, 197);
}

html {
	font-family: "Inter", sans-serif;
}

html,
body,
#__next {
	height: 100%;
	overflow: auto;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: "Inter var", sans-serif;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-text: rgb(250, 250, 250);
		--foreground-text-less: rgb(220, 220, 220);
		--foreground-text-least: rgb(170, 170, 170);
		--background: rgb(20, 20, 20);
	}
}
