/* General Styles
-------------------*/

html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    background: #2196F3;
    color: white;
    width: 100%;
}

/* Typography
-------------------*/

h1{
    font-weight: 700;
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.2;  letter-spacing: -.1rem;
}

/* Formatting
-------------------*/

.center-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-horizontal{
    text-align: center;
}

/* Links
-------------------*/

.white-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.white-link:hover {
    color: #0FA0CE; }

/* Forms
-------------------*/
#login-form {
    color: black;
}

/* Debug
-------------------*/
/* *{
    outline-style: solid;
    outline-width: 1px;
    outline-color: red;
} */