/* General Styles
-------------------*/

html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
}

/* Typography
-------------------*/

h1{
    font-weight: 700;
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 2rem;
    line-height: 1.2;  letter-spacing: -.1rem;
}

/* Formatting
-------------------*/

.center-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.center-horizontal{
    text-align: center;
}

.footer{
    position: absolute;
    bottom: 5px;
    left: 5px;
}

#footer-contact-text{
    font-size: 10px;
}

/* Links
-------------------*/

a, .white-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: opacity .2s;
}

a, .white-link:hover {
    opacity: 0.5;
}

/* Forms
-------------------*/
#login-form {
    color: black;
}

.login-input-text{
    border: 0;
    padding: 2px;
    min-height: 30px;
    border-radius: 1px;
    width: 100%;
    transition: box-shadow .2s;
}

.login-input-text:focus{
    box-shadow: inset 2px 3px #bbb;
}

.styled-button{
    border: 0;
    padding: 8px;
    border-radius: 2px;
    background: #fff;
    width: 100px;
    transition: box-shadow .2s;
}

.styled-button:hover{
    box-shadow: 4px 4px #1565c0;
}

.styled-button:active{
    box-shadow: inset 4px 4px #bbb;
    background: #ccc;
}

/* Modal
-------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background: rgba(0,0,0,0.2); */
    color: black;
}

.modal-content {
    background-color: white;
    margin: 0 auto auto auto;
    padding: 20px;
    /* border: 1px solid #888; */
    border-radius: 0 0 2px 2px;
    min-width: 320px;
    width: 50%;
    box-shadow: 2px 2px 5px 0 #222;
    /* box-shadow: 4px 4px #1565c0; */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-settings-icon{
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.modal.show{
    -webkit-animation: modal-in 500ms ease both;
  animation: modal-in 500ms ease both;
}

.modal.hide{
    -webkit-animation: modal-out 500ms ease both;
    animation: modal-out 500ms ease both;
}

@keyframes modal-in {
    0% { top: -200px; opacity: 0; visibility: hidden;  }
    100% { top: 0; opacity: 1; visibility: visible; }
  }

  @keyframes modal-out {
    0% { top: 0; opacity: 1; visibility: visible; }
    100% { top: -200px; opacity: 0; visibility: hidden;  }
  }

.error-message{
    padding: 20px;
    background: #ff0044;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

/* Debug
-------------------*/
/* *{
    outline-style: solid;
    outline-width: 1px;
    outline-color: red;
} */