html, body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

html{
    /* background: url("../img/background.jpg") no-repeat center center fixed; */
    background: #e54e4e;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*.unselectable{
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

a{
    transition: color .2s;
}

a:hover{
    color: #222;
}

.footer{
    color: white;
    text-align: center;
    padding: 10px;
}

.header{
    height: 60%;
    text-align: center;
    cursor: pointer;
}

.padded{
    padding: 50px 0 50px 0;
}

.panel{
    padding: 60px 10% 60px 10%;
    color: white;
    background-color: #222;
}

.panel.inverse{
    background-color: white;
    color: black;
}

.titlebar{
    height: auto;
}

.titlelink{
    text-align: center;
    padding: 20px 0 0 0;
    font-size: 1.1em;
}

.titlebar a{
    color: white;
    text-decoration: none;
}

.titlebar a:hover{
    color: #222;
    /* font-weight: bold; */
}

.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#br{
    padding: 10px 0 0 0;
}

#h1{
    font-size: 3em;
}

#h2{
    font-size: 1.4em;
}

#panel-title{
    font-size: 1.6em;
    font-weight: 300;
}

#sub{
    font-size: 0.8em;
}

#subtitle{
    padding: 10px;
}