html {
    background-image: url("./lib/assets/neb.png");
    background-repeat: repeat;
    background-attachment: fixed;
}

html, body {
    font-family: "Comic Neue", cursive;
    color: white;
}

body {
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    margin: 8px 0;
}
/* Workaround for an issue with the marquee lib */
.marquee {
    overflow: hidden;
}
