html {
    background-image: url("./lib/assets/neb.png");
    background-repeat: repeat;
}

html, body {
    font-family: "Comic Neue", cursive;
    color: white;
}

body {
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 2em;
}

/* Workaround for an issue with the marquee lib */
.marquee {
    overflow: hidden;
}
